* {
    padding: 0;
    margin: 0;
}

h2,
p {
    padding: 10px 0px;
}

#image {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
}

#container {
    background-color: #fff;
    color: #000;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    text-align: right;
    font-weight: bold;
    padding: 10px;
    font-style: italic;
}

#primair {
    display: inline;
}

#gaming {
    display: none;
}

#luxe {
    display: none;
}

* {
    background-color: lightcyan;
}

#image {
    background-image: url(../afbeeldingen/crisisfoto.jpg);
    background-repeat: no-repeat;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

div {
    width: auto;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

nav a {
    text-decoration: none;

}


nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

nav ul {
    text-decoration: none;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
